.flex-fod {
    display: flex;
    flex-direction: row; /* Align containers vertically */
  }
  .about-img { 
    width: 100%; 
    height: 200px;
}
.about-title{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.arrow{
    width: 20px; 
    height: 20px;
}