  
  /*-----------------------------------*\
    #HEADER
  \*-----------------------------------*/
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--raisin-black-1);
    box-shadow: 0 3px 27px hsla(0, 0%, 0%, 0.5);
    padding-block: 20px;
    z-index: 4;
  }
  
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-actions { display: none; }
  
  .nav-open-btn {
    color: var(--white);
    font-size: 40px;
    padding: 5px;
  }
  
  .nav-open-btn ion-icon { --ionicon-stroke-width: 40px; }
  
  .navbar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 100%;
    max-width: 300px;
    background: var(--raisin-black-2);
    height: 100%;
    box-shadow: 0 2px 8px hsla(0, 0%, 0%, 0.5);
    visibility: hidden;
    z-index: 2;
    transition: var(--transition-2);
  }
  
  
  .navbar.active {
    right: 0;
    visibility: visible;
    transition: var(--transition-3);
  }
  
  .navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
  }
  
  .nav-close-btn {
    color: var(--cyan);
    font-size: 25px;
    padding: 10px;
    transform: translateX(15px);
  }
  
  .nav-close-btn ion-icon { --ionicon-stroke-width: 70px; }
  
  .navbar-list {
    border-top: 1px solid hsla(0, 0%, 100%, 0.1);
    margin-bottom: 30px;
  }
  
  .navbar-link {
    color: var(--white);
    font-size: 15px;
    padding: 10px 25px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    font-weight: var(--fw-500);
    transition: 0.15s ease-in-out;
  }
  
  .navbar-link:is(:hover, :focus) { color: var(--cyan); }
  
  .nav-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  
  .social-link {
    color: var(--cyan);
    font-size: 18px;
  }
  
  .overlay {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 1;
    transition: var(--transition-2);
  }
  
  .overlay.active {
    background: hsla(0, 0%, 0%, 0.7);
    pointer-events: all;
    transition: var(--transition-3);
  }